@import '../../styles/utils.scss';

.root {
  .scrollBox {
    width: 170px;
    height: 66px;
    background-color: $md-orange-700;

    font-weight: bold;
    margin-top: 11px;
    padding: 6px;

    span {
      font-size: 1.1rem;
    }
  }
}